@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
  color: white;
}

.name-animation span {
  font-size: 60px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  color: red;
  opacity: 0;
  transform: translateY(-20px);
  animation:ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.login-form input, .login-form button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

.login-form button {
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}
